body {
  font-family: 'Roboto', sans-serif;
}

#main {
  margin: 0.5em 10% 0.5em 10%;

  background-color: #ffffff;
  color: #333333;
}

header {
  margin: 0;

  background-color: #2890cd;
  color: #ffffff;
}

header h1 {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}

.inputform {
  width: 100%;
}

.loginform {
  width: 50%;
  margin: 0 25% 0 25%;
}

.inputform td {
  padding: 0.2em;
  vertical-align: top;
}

td.label {
  width: 30%;
}

td.input {
  width: 70%;
}

td.list {
  width: 45%;
  text-align: center;
}

td.center {
  width: 10%;
  text-align: center;
}

td.half {
  width: 50%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid #333333;
}

.note, .error {
  font-size: 0.8em;
}

.error {
  font-weight: bold;
  display: none;
}

header button {
  border: 1px solid #ffffff;
  margin: -3em 1em 0 1em;
  text-align: right;
}

input[type="submit"], button, .imageinput {
  /*font-size: 1.25em;*/
  color: #ffffff;
  background-color: #2890cd;
  border: 0;
  border-radius: 6px;
  padding: 2px 4px 2px 4px;
}

button#moveleft, button#moveright {
  font-size: 1.5em;
  padding: 0 0.25em 0 0.25em;
  margin: 0.25em 0 0.25em 0;
}

input[type="text"], input[type="password"], select, textarea {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 2px;
}

input[readonly], select[readonly], textarea[readonly] {
  color: #808080;
  background-color: #e0e0e0;
}

input[type="textarea"] {
  width: 100%;
}

.list select, textarea, .fullwidth > * {
  width: 100%;
}

/*box-button hybrid*/

input[type="text"].boxbutton {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

button.boxbutton, {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

/*tag list*/

.boxframe {
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 1px;
}

.taglist {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.boxframe li {
  display: inline-block;
  background-color: #2890cd;
  color: #ffffff;
  /*border: 1px solid #144866;*/
  border-radius: 2px;
  margin: 1px;
  padding: 2px 4px 2px 4px;
}

.boxframe li img {
  border: 1px solid #ffffff;
  border-radius: 2px;
}

input.invis, input.invis.focus {
  border: 0px;
  margin: 0;
  padding: 0;
}

.addtag, .deltag {
  width: 1.2em;
  height: 1.2em;

  font-weight: bold;
  text-align: center;

  border: none;
  border-radius: 0.6em;
}

.addtag {
  color: #ffffff;
  background-color: #2890cd;
}

.deltag {
  color: #2890cd;
  background-color: #ffffff;
}

.deltag:hover, .deltag:focus {
  background-color: #88c4e7;
}

/*image uploader*/
input[type="file"] {
  color: #ffffff;
  background-color: #2890cd;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: none;
}

/*.imagelist {
  overflow-x: scroll;
  overflow-y: scroll;
}*/

.imagelist .deltag {
  vertical-align: top;
}

#load {
  width = 100%;
  text-align: center;
}

#projectload {
  display: none;
}
