/*layout and basic design*/

body {
  margin: 0 10% 0 10%;
  padding: 0 0 0 0;
  color: #fff;
  background-color: #000;
  font-family: "Arial", sans-serif;
  font-weight: 100;
}

header, main, footer {
  background-color: #000080;
  position: relative;
  box-shadow: 0px 5px 5px #acf;
}

main {
  height: auto;
  overflow-y: hidden;
  margin: 0 0 10px 0;
}

main > * {
  padding: 0px 30px 0px 30px;
}

header {
  margin: 0 0 10px 0;
  padding: 30px 0 10px 0;
  background-color: #000080;
  /*background-image: url("/assets/images/banner.png");*/
  text-align: center;
}

header {
  text-transform: uppercase;
}

main, aside {
  height: auto;
  min-height: 100%;
}

main h2 {
  text-align: center;
  /*width: 100%;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #bbb;*/
}

nav#top {
  /*background-color: rgba(0,0,0,0.5); /*will display as #ddd on a black background*/*/
}

nav#top ul {
  padding: 5px;
}

nav#top li {
  display: inline;
  margin: 0;
  padding: 1px 8px 1px 8px;
}

/*nav#top a {
  color: #fff;
}*/

footer {
  /*background-color: #000;
  background-image: url("/assets/images/banner.png");*/
  text-align: center;
}

footer p {
  padding: 2px 0 2px 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*probably obsolete since the blog is not embedded, but may go back to it
#embedblog {
  width: 100%;
  border: 0;
  overflow-y: auto;
}*/

.clear {
  display: none;
  clear: both;
}

@media (min-width: 600px) { /*sidebar styles for large screens*/
  aside {
    position: absolute;
    top: 0;
    left: 0;
    right: 80%;
    min-height: 100%;
  }

  .sidebar-display-expand {
    display: none;
  }

  .sidebar-display-full {
    display: block;
  }
}

/*layout fixes for small screens*/
@media (max-width: 1024px) { /*remove margins from body*/
  body {
    margin: 0;
  }
}

@media (max-width: 640px) { /*collapse sidebar and add button to expand*/
  main:not(.nonav) {
    margin-left: 32px;
  }

  main > aside.collapsed { /*override padding rule for all content elements*/
    padding: 10px 0px 10px 0px;
  }

  aside:not(.collapsed) {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    max-width: 100%;
    min-height: 100%;
  }

  aside.collapsed {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    min-height: 100%;
  }

  aside:not(.collapsed) .sidebar-display-full {
    display: block;
  }

  aside.collapsed .sidebar-display-full {
    display: none;
  }
}

@media (min-width: 401px) {
  nav#top li:not(:first-child) {
    border-left: 1px solid #bbb;
  }

  nav#top li:not(:last-child) {
    border-right: 1px solid #bbb;
  }
}

@media (max-width: 400px) { /*rearrange top nav into vertical list*/
  nav#top li {
    display: block;
    padding: 1px 8px 1px 8px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbb;
  }
}

@media (max-height: 800px) { /*shrink header to increase useful screen height*/
  header {
    padding: 1px 0px 0px 0px;
  }
}



/*page elements*/
a {
  font-weight: bold;
  color: #acf;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a img {
  border: 2px solid #09f;
}

a.button {
  display: inline-block;
  background-color: #09f;
  color: #fff;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1.75em;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

a.button:hover, a.button:focus {
  text-decoration: none;
}

.smalltext {
  font-size: 0.8em;
}

.key {
  display: inline-block;
  min-width: 1.1em;
  margin: 0px 1px 0px 1px;
  border: 1px solid #aaa;
  border-radius: 1px;
  padding: 0px 1px 0px 1px;
  background-color: #fff;
  color: #333;
  box-shadow: -0.1em -0.1em 0.1em -0.1em #aaa inset;
  text-align: center;
}

hr {
  height: 1px;
  border: none;
  background-color: #bbb;
}

.video {
  display: block;
  text-align: center;
}


/*launch page*/
body.launch {
  margin: 0;
}

.launch header {
  font-size: 1.25em;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.launch nav#top ul {
  margin-bottom: 0;
}

.launch main {
  background-color: #000;
  /*background-image: url("/assets/images/banner.png");
  background-size: auto 100%;*/
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.launch main h2 {
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: none;
}

.launch .game canvas {
  display: block;
  margin: 0 auto;
}

.launch hr {
  width: 100%;
  max-width: 640px; /*width of current demo*/
  margin: 2em 0 2em 0 auto;
}
